{% extends 'base.html' %}

{% block content %}


<h1>About Page</h1>
<p>This is a template</p>

{{ my_html|safe }}
{{ my_html|striptags }}<br>
{{ my_html|slugify }}


<p>
	{{ my_text|upper|title }}, {{ my_number }}

	{{ my_list }}
</p>

<ul>
	<li>Item 1</li>
	<li>Item 2</li>
</ul>

<ul>
{% for abc in my_list %}
	{% if abc == 324 %} 
		<li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
	{% elif abc == "rew" %} 
		<li>this is something</li>
	{% else %}
		<li>{{ forloop.counter }} - {{ abc }}</li>
	{% endif %}
	

{% endfor %}
</ul>




{% endblock %}

